<div id="contact"  swipe-state-change >
  <div class="contact-wrapper">

    <div class="info-wrapper col2 rwd-w-s-show" ng-include="'contact/info.tmpl.html'"></div>

    <div class="form-wrapper col2" ng-class="{'thx-show': vm.messageSend == true , 'form-hide' : vm.sendProgress == true  }">
      <div class="form-error">
        {{vm.formErrors.reqBody}}
      </div>
      <form class="contact-form" method="post" name="contactForm" novalidate >
        <div class="form-group" ng-class="{'error': vm.formErrors.name != null} ">
          <input id="name" type="text" name="name" value=""  ng-model="vm.contact.name" ng-focus="vm.formErrors.name = null; vm.hideMenu(true);" ng-blur="vm.hideMenu(false);"  onkeyup="this.setAttribute('value', this.value);"  >
          <label for="name">name</label>
          <span class="error-txt" ng-class="{'active' : vm.formErrors.name != null }"> {{vm.formErrors.name}} </span>
        </div>
        <div class="form-group" ng-class="{'error': vm.formErrors.email != null} ">
          <input id="email" type="email" name="email" value=""  ng-model="vm.contact.email" ng-focus="vm.formErrors.email = null; vm.hideMenu(true);" ng-blur="vm.hideMenu(false);" onkeyup="this.setAttribute('value', this.value);"  >
          <label for="email">email</label>
          <span class="error-txt" ng-class="{'active' : vm.formErrors.email != null }"> {{vm.formErrors.email}} </span>
        </div>
        <div class="form-group" ng-class="{'error': vm.formErrors.message != null} ">
          <textarea id="message" name="message" rows="8" cols="80" value=""  ng-model="vm.contact.message" ng-focus="vm.formErrors.message = null; vm.hideMenu(true);" ng-blur="vm.hideMenu(false);" onkeyup="this.setAttribute('value', this.value);"  ></textarea>
          <label for="message">message</label>
          <span class="error-txt" ng-class="{'active' : vm.formErrors.message != null }"> {{vm.formErrors.message}} </span>
        </div>
        <div class="form-group submit-btn" >
          <button type="submit"  ng-click="vm.submitFormAction(vm.contact)"><span>send</span></button>
        </div>

      </form>

      <div class="thx-message-wrapper col2" >
        <div class="thx-message">
          <h4 class="thx-head bg-blue">
            <!-- Thank You for your message -->
            Thank You!
          </h4>
          <span class="thx-small">I will respond to your request as soon as possible</span>
        </div>
      </div>
    </div>

    <div class="info-wrapper col2" ng-include="'contact/info.tmpl.html'"></div>

  </div>
</div>
