  <h4 class="info-h" >
    <span class="blue-bg"  ></span>
    <span class="txt">feel free to<span  style="position:relative"> contact </span>me</span>
  </h4>

  <div class="info-link-wrapper" ><a href="tel:0031644342768" class="info-link" target=""><span>NL: (+31) 644 342 768 </span></a></div>
  <div class="info-link-wrapper" ><a href="tel:0048607901110" class="info-link" target=""><span>PL: (+48) 607 901 110</span></a></div>
  <div class="info-link-wrapper"><a href="mailto:hello@jagodakondratiuk.com" class="info-link" target=""><span>hello@jagodakondratiuk.com</span></a></div>
  <div class="info-link-wrapper">
    <a href="https://www.instagram.com/jagoda.kondratiuk/" target="_blank" class="info-link ">
      <span>
        Instagram
      </span>
    </a>
  </div>
