<div class="" id="menu" ng-if="!vm.menuHide" ng-class="[{'active': vm.stateChangeActive },vm.changeClass] ">

  <!-- DIGITAL -->
  <div class="link-wrapper link-digital">
    <div class=" menu-link" ng-click="vm.menuStateChange('digital', null)"   data-state="digital" ng-class="{'active': vm.activeMenuTab == 'digital'}">
      <span>
        digital
      </span>
    </div>
  </div>

  <!-- ANALOG -->
  <div class="link-wrapper link-analog">
    <div class=" menu-link" ng-click="vm.menuStateChange('analog', null)"  data-state="analog" ng-class="{'active': vm.activeMenuTab == 'analog'}">
      <span>
        analog
      </span>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="link-wrapper link-about">
    <div class=" menu-link " ng-click="vm.menuStateChange('about', null)"  data-state="about" ng-class="{'active': vm.activeMenuTab == 'about'}">
      <span>
        About
      </span>
    </div>
  </div>

  <!-- CONTACT -->
  <div class="link-wrapper link-contact">
    <div class=" menu-link" ng-click="vm.menuStateChange('contact', null)" data-state="contact" ng-class="{'active': vm.activeMenuTab == 'contact'}">
      <span>
        Contact
      </span>
    </div>
  </div>

  <!-- HELLO -->
  <div class="link-wrapper link-hello" ng-class="{hide: vm.helloLinkHide}">
    <div class=" menu-link menu-link-hello"  ng-click="vm.menuStateChange('hello', null)" data-state="hello">
      <span><span class="txt-move-in">Hel</span><span class="blue-txt txt-move-in">l</span>o.</span>
    </div>
  </div>

</div>
