
<div id="about"  swipe-state-change >
  <div class="about-wrapper">

    <div class="col2">
      <div class="about-txt-wrapper">
        Hi,
        <br >
        My name is Jagoda Kondratiuk, I&nbsp;am from Poland and I&nbsp;am currently living in&nbsp;Amsterdam. For some time, I&nbsp;lived in&nbsp;Spain and then in&nbsp;Portugal. I received my Master’s degree in&nbsp;Photography at&nbsp;the University of Warsaw.
        <br class="rwd-xs-hide">
        <br class="rwd-xs-hide">
        This website is&nbsp;my portfolio of&nbsp;documentary and analogue photography, which are among my&nbsp;greatest passions. The main theme of my&nbsp;photo-documents focuses on&nbsp;people. I&nbsp;am interested in&nbsp;social and cultural issues and the&nbsp;analogue camera accompanies me&nbsp;on&nbsp;every trip.
        <br class="rwd-xs-hide">
        <br class="rwd-xs-hide">
        I also take advertising photos and&nbsp;photoreportages (families, weddings, events etc.)
      </div>
    </div>

    <div class="col2">
      <div class="about-img-wrapper" id="aboutImgAnimate">
        <div class="img-wrapper">
          <img src="assets/img/common/about1.png" alt="">
        </div>
        <div class="img-wrapper"  timeInterval="1000" moveMax="50" rndTimeMax="8000"  random-move  >
          <img src="assets/img/common/about2.png" alt=""  >
        </div>
        <div class="img-wrapper">
          <img src="assets/img/common/about3.png" alt="">
        </div>
        <div class="img-wrapper">
          <img src="assets/img/common/about4.png" alt="">
        </div>
      </div>
    </div>

  </div>
</div>
