
body.safari{
  #loaderMain,
  .hello{
    .hello-txt {
      font-family: "futura-medium";
      font-weight: 400;
    }
  }
}

#loaderMain,
.hello{
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: inherit;
  text-align: center;
  @include respond-width($w-s){
    width: auto;
  }

  .hello-txt-wrapper{
    position: relative;
    top: 45%;
    transform: translate(0,-50%);
    right: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    @include respond-width($w-xs){
      top: calc(45% - 40px);
    }
  }

  .hello-txt{
    display: inline-block;
    font-size: 300px;
    font-weight: 900;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: inherit;

    @include respond-width($w-l){
      font-size: 200px;
    }
    @include respond-width($w-s){
      font-size: 170px;
    }
    @include respond-width($w-xs){
      font-size: 75px;
    }
    &.phantom{
      display: block;
      opacity: 0;
      z-index: -2;
      position: relative;
    }

    .blue-l-wrapper{
      position: relative;
    }

    .blue-txt.top{
      clip-path: polygon(0 0,100% 0,100% 50%,0 50%);
      position: relative;
    }
    .blue-txt.bottom{
      clip-path: polygon(0 50%,100% 50%,100% 100%,0 100%);
      position: absolute;
      left: 0px;
      bottom: 1px;
    }

    span{
      position: relative;
      display: inline-block;
    }

  }

  .about-txt-wrapper{
    margin: 0 auto;
    position:  relative;
    height: 75px;
    left: 25px;
    bottom: 35px;
    text-align: left;
    display: block;
    @include respond-width($w-l){
      left: 20px;
      bottom: 20px;
    }
    @include respond-width($w-s){
      bottom: 10px;
    }
    @include respond-width($w-xs){
      left: 5px;
      // left: 0px;
      // bottom: -75px;
    }

  }
  #HelloAboutTxt{
    text-align: left;
    display: inline-block;
    position: relative;
    font-size: 35px;
    max-width: 500px;
    @include respond-width($w-l){
      max-width: 400px;
      font-size: 25px;
    }
    @include respond-width($w-xs){
      font-size: 13px;
      max-width: 190px;
    }
    &:after{
      display: inline-block;
      content: '';
      position: relative;
      height: 30px;
      bottom: 5px;
      width: 2px;
      background: black;
      vertical-align: bottom;
      right: -5px;
      opacity: 0;
      @include respond-width($w-l){
        height: 23px;
        bottom: 3px;
      }
      @include respond-width($w-xs){
        bottom: 0px;
        height: 15px;
        width: 1px;
      }
    }
    &.active{
      &:after{
        opacity: 1;
      }
    }
    &.in-out-ani{
      &:after{
        animation: inout 0.75s infinite;
      }
    }
  }

}

@keyframes inout {
  0%{opacity: 0}
  50%{opacity: 1}
  100% {opacity: 0}
}
