#loaderMain{
  position: fixed;
  height: 100vh;
  width: 100%;
  transition: ease all 0s;
  text-align: center;
  z-index: 99;
  padding: 0px;
  margin: 0px;
  opacity: 1;
  background: $grey-l;
  &.ani-line{
    .blue-txt.line{
      &:before,
      &:after{
        transition: linear all .65s;
        height: 0px;
      }
    }
  }
  &.hide{
    transition: ease all .75s;
    opacity: 0;
    z-index: -1;
  }

  .top-35, .top-25, .top-15, .top-15p{
    opacity: 0;
  }

  .hello-txt-wrapper{
    top: 46%;
    @include respond-width($w-xs){
      top: calc(45% - 40px);
    }
  }
  .up,
  .down{
    transition: ease all 0.3s;
    transform: translate(0,50);
  }

  .blue-txt.line{
    position: relative;
    &:before,
    &:after{
      content: '';
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 50%;
      background: $grey-l;
      top: 0px;
      bottom: inherit;
      left: 0px;
    }
    &:after{
      top: inherit;
      bottom: 0px;
    }
  }
  .about-txt-wrapper{
    opacity: 0;
    z-index: -1;
    color: transparent;
  }
}

@keyframes move-up {
  0% {transform: translate(-50%,0px) }
  25% {transform: translate(-52%,0px) }
  50% {transform: translate(-50%,0px) }

  75% {transform: translate(-48%,0px) }
  100% {transform: translate(-50%,0px) }
}
@keyframes move-down {
  0% {transform: translate(0%,0px) }
  25% {transform: translate(2%,0px) }
  50% {transform: translate(0%,0px) }
  75% {transform: translate(-2%,0px) }
  100% {transform: translate(0%,0px) }
}
