$trigger-width: 70px;
$link-size: 27px;
$stateAniTime: 1.5s;

@include respond-width($w-l){
  // $link-size: 10px;
  // font-size: 5px;
}

body.safari #menu .menu-link{
  font-family: "futura-medium";
  font-weight: 400;

}

#menu{
  position: relative;
  $ovAniT: 0.5s;
  &:after{
    content: '';
    height: 0%;
    width: 0%;
    position: fixed;
    background: black;
    z-index: 99;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    transition: ease height $ovAniT;
    transition: ease width $ovAniT;
  }
  &.top-bottom{
    &:after{
      transition: ease height $ovAniT;
      // transition: ease width 0s;
      top: inherit; bottom: 0px; height: 0%; width: 100%;
    }
    &.active{
      &:after{
        top: 0px; bottom: inherit; height: 100%;  width: 100%;
      }
    }
  }
  &.bottom-top{
    &:after{
      transition: ease height $ovAniT;
      // transition: ease width 0;
      top: 0px; bottom: inherit; height: 0%;  width: 100%;
    }
    &.active{
      &:after{
        top: inherit; bottom: 0px; height: 100%;  width: 100%;
      }
    }
  }
  &.right-left{
    &:after{
      transition: ease width $ovAniT;
      // transition: ease height 0;
      top: 0px; bottom: 0px; height: 100%;  width: 0%; right: inherit; left: 0px;
    }
    &.active{
      &:after{
        top: 0px; bottom: 0px; height: 100%;  width: 100%; right: 0px; left: inherit;
      }
    }
  }
  &.left-right{
    &:after{
      transition: ease width $ovAniT;
      // transition: ease height 0;
      top: 0px; bottom: 0px; height: 100%;  width: 0%; right: 0px; left: inherit;
    }
    &.active{
      &:after{
        top: 0px; bottom: 0px; height: 100%;  width: 100%; right: inherit; left: 0px;
      }
    }
  }
  .link-wrapper{
    position: fixed;
    text-align: center;
  }
  .link-hello{
    top: 0px;
    opacity: 1;
    @include respond-width($w-xs){
      left: 10px;
      top: 0px;
    }
    &:hover{
      .txt-move-in{
        left: 0px;
        transition: ease all 0.3s;
      }
      .menu-link{
        left: 10px;
        transition: ease all 0.5s;
        @include respond-width($w-s){
          left: 0px;;
        }
      }
    }
    &.hide{
      opacity: 0;
      pointer-events: none;
      transition: ease all 0.3s;
    }
    .menu-link{
      position: relative;
      left: -55px;
      transition: ease all 0.3s;
      font-weight: 400;
      font-size: $link-size + 15px;
      overflow: hidden;
      text-transform: none;
      letter-spacing: 0px;
      @include respond-width($w-l){
        font-size: $link-size + 10px;
      }
      @include respond-width($w-xs){
        font-size: $link-size + 0px;
        width: 35px;
        height: 35px;
        left: 0px;
        top: 0px;
      }
      span{
        right: 0px;
      }
    }
    .txt-move-in{
      // opacity: 0;
      position: relative;
      left: -75px;
      transition: ease all 0.3s;
      @include respond-width($w-s){
        display: none;
      }
    }
  }//hello link wrapper
  .link-digital{
    top: 10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }
  .link-analog{
    transform: rotate(180deg);
    left: -60px;
    right: 0px;
    margin: 0 auto;
    bottom: 15px;
    @include respond-width($w-xs){
      left: 0px;
    }
    .menu-link{
      span{
        @include respond-width($w-s){
          right: 20px;
        }
        @include respond-width($w-xs){
          right: 0px;
        }
      }
    }
  }
  .link-contact{
    right: -60px;
    top: calc(50% + 20px);
    transform: translate(0,-50%) rotate(90deg);
    @include respond-width($w-xs){
      right: -55px;
      top: 50%;
    }
  }
  .link-about{
    left: -35px;
    top: calc(50% - 20px);
    transform: translate(0,-50%) rotate(-90deg);
    @include respond-width($w-xs){
      top: 50%;
      left: -35px;
    }
  }

  .menu-link{
    text-transform: uppercase;
    font-size: $link-size;
    font-weight: 600;
    letter-spacing: 10px;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    width: auto;
    position: relative;
    @include respond-width($w-l){
      font-size: $link-size - 5px;
    }
    @include respond-width($w-xs){
      font-size: $link-size - 12px;
    }
    &:not(.menu-link-hello):after{
      transition: ease width 0.3s;
      content: '';
      position: absolute;
      width: 0%;
      height: 100%;
      top: 10px;
      background: $blue;
      left: inherit;
      right: 0px;
      z-index: 0;
      @include respond-width($w-xs){
        height: 70%;
        top: 7px;
      }
    }
    span{
      position: relative;
      z-index: 1;
      right: 20px;
      @include respond-width($w-s){
        right: 0px;
      }
    }
    &.active,
    &:hover{
      &:after{
        left: 0px;
        right: inherit;
        width: 100%;
        transition: ease width 0.3s;
      }
    }
    // &.active{
    //   &:after{
    //     @include respond-width($w-s){
    //       width: 0%;
    //     }
    //   }
    // }
  }
}

// @keyframes topbottom {
//   0% { top: 0px; bottom: inherit; height: 0px; width: 100%; }
//   50% {top: 0px; bottom: inherit; height: 100%;  width: 100%;}
//   55% {top: inherit; bottom: 0px; height: 100%;  width: 100%;}
//   100% { top: inherit; bottom: 0px; height: 0px;  width: 100%;};
// }
// @keyframes leftright {
//   0% { left: 0px; right: inherit; width: 0px; height: 100%;}
//   50% {left: 0px; right: inherit; width: 100%;  height: 100%;}
//   55% {left: inherit; right: 0px; width: 100%;  height: 100%;}
//   100% { left: inherit; right: 0px; width: 0px;  height: 100%;};
// }
//
// @keyframes topbottomshow {
//   0% { top: 0px; bottom: inherit; height: 0px; width: 100%; }
//   // 50% {top: 0px; bottom: inherit; height: 100%;  width: 100%;}
//   100% {top: inherit; bottom: 0px; height: 100%;  width: 100%;}
//   // 100% { top: inherit; bottom: 0px; height: 0px;  width: 100%;};
// }
// @keyframes topbottomhide {
//   // 50% {top: 0px; bottom: inherit; height: 100%;  width: 100%;}
//   0% {top: inherit; bottom: 0px; height: 100%;  width: 100%;}
//   100% { top: 0px; bottom: inherit; height: 0px; width: 100%; }
//   // 100% { top: inherit; bottom: 0px; height: 0px;  width: 100%;};
// }
