<div id="projects" projects-width project-swipe-gallery-change>
  <!-- <div class="projects-view-wrapper"> -->

    <div class="projects-wrapper" ng-style = " { 'max-width' : vm.thumbsWrapper + 'px'  , 'right' : vm.thubsWrapperRight } " >
    <!-- <div class="projects-wrapper" ng-style = " { 'max-width' : vm.thumbsWrapper + 'px'   } " > -->

      <div class="thumb-wrapper animate-repeat" ng-repeat="project in vm.projectsFiltered.slice(vm.projectsShow.start , vm.projectsShow.end) " ng-style="{ 'left' : vm.thumbMove($index) }" >
        <!-- ui-sref="project({ project: project.href })" -->
        <div class="project-thumb" ng-click="vm.stateChangeTo('project', project.href, project.category )"   ng-style =" { 'width' : vm.thumbWidth , 'height' : vm.thumbHeight , 'margin' : vm.thumbMargin + 'px' } ">
          <div class="project-img"  >
            <img class="phantom-img" alt="" src-load="'assets/img/gallery/'+ project.href+ '/01' + project.galleryFormat" delay-load="1000" >
            <img ng-src="assets/img/gallery/{{project.href}}/{{project.projectPic}}" alt="" img-loader>
          </div>
          <div class="project-txt-wrapper">
            <div class="project-name txt">
              {{project.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="next-proj-btn-wrapp">
      <div class="prev-projects-btn animate-if" ng-if="vm.prevBtn" >
        <div class="wrapper" ng-click="vm.projectsShowNext('prev')">
          <svg   width="50" height="50" viewBox="0 0 50.000001 50.000001" id="arrowLeft" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="arrow-l.svg">
            <g inkscape:label="Layer 1" inkscape:groupmode="layer"  id="layer1" transform="translate(0,-1002.3622)">
              <path style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 35.36476,1045.3164 -17.9017,-17.9911 17.7678,-18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>
        </div>
      </div>
      <div class="next-projects-btn animate-if" ng-if="vm.nextBtn" >
        <div class="wrapper" ng-click="vm.projectsShowNext('next')">
          <svg   width="50"   height="50"   viewBox="0 0 50.000001 50.000001"   id="arrowRight"   version="1.1"   inkscape:version="0.91 r13725"   sodipodi:docname="arrow.svg">
            <g     inkscape:label="Layer 1"     inkscape:groupmode="layer"     id="layer1"     transform="translate(0,-1002.3622)">
              <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 17.463017,1009.2449 17.901786,17.9911 -17.767857,18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>
        </div>
      </div>
    </div>

    <!-- <img class="phantom-im" ng-repeat="(i,pic) in vm.projectData.gallery"  ng-src="assets/img/gallery/{{vm.projectData.href}}/{{pic[0]}}" alt="" > -->


  <!-- </div> -->

</div>
