  <div id="" class="hello"  swipe-state-change >
    <div class="hello-txt-wrapper">

      <div class="hello-txt" >
        <span>
          <span class="top-15p" >H</span><span class="top-35" data-top="15px">e</span><span class="top-15p">l</span><span class="blue-l-wrapper"><span class="blue-txt top"  timeinterval="1500" movemax="35" rndtimemax="8000"  random-move >l</span><span class="blue-txt bottom"  timeinterval="1500" movemax="35" rndtimemax="8000"  random-move >l</span></span><span class="top-15p">o</span><span class="top-35" >.</span>
        </span>
      </div>

      <div class="about-txt-wrapper">
        <span id="HelloAboutTxt" string-write >My name is Jagoda Kondratiuk and I&nbspam a photographer</span>
      </div>
    </div>
  </div>
