<!doctype html>
<html ng-app="jkApp">
<head>
  <meta charset="utf-8">
  <title>jagoda kondratiuk</title>
  <meta name="description" content="Jagoda Kondratiuk Photographer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ assetPath "main.css" }}" >
  <link rel="shortcut icon" href="assets/img/common/favicon.png"/>

  <meta name="keywords" content="Jagoda Kondratiuk, Graphic Design, Web Design, UI/UX, Photographer" />
  <meta property="og:site_name" content="Jagoda Kondratiuk" />
  <meta property="og:title" content="Jagoda Kondratiuk Photographer" />
  <meta property="og:image" content="https://jagodakondratiuk.com/assets/img/common/jagodakondratiuk.png" />

  <script>
    document.addEventListener('DOMContentLoaded', function(){
      if (window.location.hostname == 'localhost') return;
      if (window.location.protocol != "https:") { window.location = 'https://' + window.location.hostname + window.location.pathname + window.location.hash; }
    }, false);
  </script>

</head>

<body ng-controller="mainCtrl as vm">

  <div id="loaderMain" class="" ng-class="vm.loaderClass">
    <div class="hello-txt-wrapper">
      <div class="hello-txt" >
        <span>
          <span class="top-15p" >H</span><span class="top-35" data-top="15px">e</span><span class="top-15p">l</span><span class="blue-l-wrapper"><span class="blue-txt line"  >l</span></span><span class="top-15p">o</span><span class="top-35" >.</span>
        </span>
      </div>
      <div class="about-txt-wrapper">
        <span id="HelloAboutTxt" >My name is Jagoda Kondratiuk and I&nbspam a photographer</span>
      </div>
    </div>
  </div>

  <main id="fixedMain">
    <div ui-view="main" class="view-animate" id="viewMain" ></div>
    <div ng-include="'menu/menu.tmpl.html'"></div>
  </main>

  <script src="assets/js/main.min.js"></script>
  <script src="{{ assetPath "appJK.js" }}"></script>

</body>



</html>
